<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ecf.server.generic.Client"
            name="ECF ChatServer">
         <property
               name="appName"
               value="ECF ChatServer">
         </property>
      </product>
   </extension>

</plugin>
